body {
  background-color: white;
  color: black;
  font-family: Arial,sans-serif;
  font-size: 13px;
}
#menu {
text-align: right;
padding: 10px;
margin: 0px 10px 10px 0px;
border-right: thin solid black;
}
a {
  position: relative;
}
a span {
  display: none;
}
a:hover span {
  position: absolute;
  display: block;
  /* positioning */
  top: 15px;
  left: 0px;
  width: 300px;
  z-index: 100;
  /* styling */
  background-color: #323232;
  color: #FFFFFF;
  text-align: left;
  padding: 5px;
  margin: 5px;
}
#logo {
  float:right;
  margin-bottom: 15px;
  border-bottom: thin solid black;
}
#sub-section {
background-color: #CCFFCC;
}
#content {
}
#content p {
  padding: 5px 110px 5px 15px;
}
#content dl {
  padding: 5px 110px 5px 15px;
}
#content dl dt {
  font-weight: bold;
}

#footer {
  border-top: thin solid black;
text-align: center;
padding-bottom: 15px;
}